@page
@model LockoutModel
@{
    ViewData["Title"] = "Kizárva";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Ebbe a fiókba jelenleg nem lehet bejelentkezni. Próbáld újra később!</p>
</header>
