@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Személyes adatok";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>A fiókod személyes adatokat tartalmaz, amelyeket te adtál meg. Ezen az oldalon letöltheted a személyes adataidat vagy törölheted őket.</p>
        <p>
            <strong>A fiókod törlését nem lehet később visszavonni. Az adataid elvesznek!</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Letöltés</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Törlés</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}