body {
}

.animation-detail-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.comments-container {
    margin-top: 20px;

    width: 75%;
}

.no-comment-container {

}

.comment-card {
    width: 100%;
}
