
.animation-detail-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.comments-container {
    margin-top: 40px;
    width: 75%
}

.no-comment-container {
    font-style: italic
}

.comment-card {
    width: 100%;
}

.comment-row {
    margin: auto;
    width: 80%;
}

.comment-write-container {
    width: 100%
}

textarea {
    margin-bottom: 10px;
}

.comment-submit-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 20px;
}

.comment-header {

}
