@page "{id}"
@model CAFFShop.Api.Pages.Animations.AnimationDetailsModel
@{
    <h1>Animáció részletek:</h1>
    <h1>@Model.desc</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <p>valami</p>
            </div>
            <div class="col-sm">
                <p>valami</p>
            </div>
        </div>

    </div>


}
